<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button type="button" class="btn btn-dark space" name="back"><i class="fa fa-backward"></i></button>
    <button type="button" class="btn btn-dark space" name="play"><i class="fa fa-play"></i></button>
    <button type="button" class="btn btn-dark space" name="forward"><i class="fa fa-forward"></i></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand space" href="#">
                    <img src="/src/assets/img/NF512x512.png" height="36px" width="36px" style="text-align: left;" name="albumnImage">
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Song Name: <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Name Here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">0:00 | 0:00</a>
            </li>
        </ul>
        <span class="navbar-text">
            Copyright wMusic 2018
        </span>
    </div>
</nav>