<nav class="navbar navbar-dark bg-dark mb-5">
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
          <button type="button" class="btn btn-dark space" name="back"><i class="fa fa-backward"></i></button>
          <button type="button" class="btn btn-dark space" name="play"><i class="fa fa-play"></i></button>
          <button type="button" class="btn btn-dark space" name="forward"><i class="fa fa-forward"></i></button>
          <a class="navbar-brand space" href="#">
              <img src="/src/assets/img/NF512x512.png" height="42px" width="42px" style="text-align: left;" name="albumnImage">
          </a>
          <p class="white-out space height" name="songName">Howdy!</p>
          <p class="white-out space-more height" name="songTime">0:00 | 0:00</p>
      </div>
    </div>
  </nav>